@model MrFixIt.Models.Worker
@{
    ViewBag.Title = "Worker Dashboard";
}

<h3 class="text-center">Your Current Jobs:</h3>
<div class="job-listings-container">
    @if(Model.Jobs.Count == 0)
    {
        <h5>You currently have no jobs listed.</h5>
    }
    @foreach (var job in Model.Jobs)
    {
        <div class="card job-card">

            <div class="listing-header">
                <span class="card-title">@job.Title</span>
                <hr />
            </div>

            <div class="card-content">
                <div id="job-@job.JobId-activity"></div>

                @if (!job.Completed && !job.Pending)
                {
                    <div id="active-chip-@job.JobId" class="chip">
                        Active
                    </div>
                }

                @if (job.Completed)
                {
                    <div class="chip">
                        Completed
                        <i class="material-icons">check</i>
                    </div>
                }

                <div class="job-card-buttons">
                    @if (!job.Completed)
                    {
                        <span id="job-@job.JobId-completion">
                            <button name="JobId" class="mark-complete btn waves-effect waves-light" value="@job.JobId">Mark complete</button>
                        </span>
                        @if (job.Pending)
                        {
                            <button name="JobId" class="mark-active mark-active-@job.JobId btn waves-effect waves-light" value="@job.JobId">Mark as active job</button>
                        }
                    }
                    
                </div>
            </div>
        </div>
    }
</div>
