body {
    padding-top: 70px;
    color: black;
    background-color: #FAD6D7;
}

.home-nav-card {
    text-align: center;
    padding: 40px !important;
    margin-top: 20px;
}

.home-nav-card button {
    margin: 15px;
}

.card-title {
    font-size: 30px;
}

.card {
    background-color: #448AFF;
    padding: 10px;
}

.form-card {
    background-color: #eff3f9;
    padding: 30px;
    margin-top: 40px;
}

.card a {
    color: black;
    font-weight: bold;
}

.input-field label {
    color: black ;
}

.navbar {
    background-color: #448AFF;
    border: solid 0px black;
}

.navbar-home {
    color: black;
}

.back-arrow i {
    margin-top: 15px;
    position: fixed;
}

.job-listings-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.job-card {
    width: 45%;
    height: auto;
    margin: 8px;
}

.job-card .card-title {
    font-size: 26px;
    color: #efefef;
    padding: 15px;
}

.job-card-buttons {
    display: flex;
    justify-content: space-between;
}

.description {
    font-size: 18px;
}

